html,
body {
    display: block;
    background-color: #f4f4f9;
    height: auto;
}

.container-tabela {
    margin-top: 20px;
    padding: 20px;
}

.barra-pesquisa {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.barra-pesquisa input {
    width: 600px !important;
}